* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: StarWars;
  src: url(/Fonts/STJEDISE.TTF);
}

body {
  background-color: #fff;
  color: #7f7f7f;
  font-family: StarWars;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #000;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: yellow 3px solid;
}

.logo {
  float: left;
  min-width: 100px;
  min-height: 50px;
  background-image: url(/images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.landing-menu {
  float: right;
  margin-top: 10px;
}

.landing-menu .menu-nav {
  list-style-type: none;
}

.menu-nav .nav-item {
  /* float: left; */
  display: inline;
  padding: 0 20px 0 20px;
}

.nav-item .nav-link {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
}

.video-container {
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  background: url(/images/landing-page_showcase.jpg) no-repeat 0 -50px;
  opacity: 0.9;
}

.video-container iframe {
  box-shadow: 0 0 20px 2px red;
}

footer {
  width: 100%;
  height: 10vh;
  background: #000;
}
