* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: StarWars;
  src: url(../Fonts/STJEDISE.TTF);
}

body {
  background-color: #fff;
  color: yellow;
  font-family: StarWars;
}

.index.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'left-sidebar showcase right-sidebar'
    'footer footer footer';
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 6fr 0.5fr;
  background: url(http://getwallpapers.com/wallpaper/full/9/c/7/326560.jpg)
    no-repeat;
}

.index.grid header {
  background: rgba(0, 0, 0, 0.4);
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.grid-header {
  background: #000;
  padding-top: 30px;
  min-height: 10vh;
  border-bottom: 3px yellow solid;
}

.logo {
  float: left;
  min-width: 100px;
  min-height: 50px;
  background-image: url(/images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.landing-menu {
  float: right;
  margin-top: 10px;
}

.landing-menu .menu-nav {
  list-style-type: none;
}

.menu-nav .nav-item {
  /* float: left; */
  display: inline;
  padding: 0 20px 0 0px;
}

.menu-nav .nav-item.current > a {
  color: #47b3ff;
}

.nav-item .nav-link {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  text-shadow: 0px 0px 15px rgb(255, 255, 0, 0.5);
}

.index .grid-left-sidebar {
  background: rgba(44, 44, 44, 0.4);
  box-shadow: 0 0 15px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.grid-left-sidebar .star-wars-text {
  height: 75%;
  width: 100%;
}

.showcase {
  grid-area: showcase;
  background: rgba(44, 44, 44, 0.5);
  display: flex;
}

.video-wrap {
  width: 80%;
  max-width: 640px;
  margin: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-shadow: 0 0 35px 5px #000;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index .grid-right-sidebar {
  background: rgba(44, 44, 44, 0.4);
  box-shadow: 0 0 15px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-right-sidebar .special {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 85%;
  height: 75%;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 15px 0 rgba(0, 86, 247);
  text-shadow: 0 0 15px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.grid-right-sidebar .special:hover {
  transform: scale(1.05);
}

.special-link {
  color: yellow;
  text-decoration: none;
}

.special-animation {
  animation-name: extras-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes special-animation {
  0% {
    box-shadow: 0 0 15px 0 yellow;
  }
  50% {
    box-shadow: 0 0 15px 0 rgba(0, 86, 247);
  }
  100% {
    box-shadow: 0 0 15px 0 yellow;
  }
}

.index.grid footer {
  background: rgba(0, 0, 0, 0.8);
}

/* ABOUT MOVIE PAGE */
.about.grid {
  display: grid;
  grid-template-areas:
    'header header header'
    'left-sidebar main-section main-section'
    'left-sidebar article-1 article-2'
    'footer footer footer';
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 3fr 1fr;
  grid-gap: 20px;
  background: url(http://getwallpapers.com/wallpaper/full/9/c/7/326560.jpg)
    no-repeat;
  height: 100vh;
  /* margin: 10px; */
}

.grid-header {
  grid-area: header;
  background-color: rgb(0, 0, 0, 0.4);
  border-bottom: 3px yellow solid;
  box-shadow: 0 0 10px 0 yellow;
  padding: 10px 0 5px 0;
}
.about .grid-left-sidebar {
  grid-area: left-sidebar;
  background: url(https://r1.ilikewallpaper.net/iphone-wallpapers/download/79020/star-wars-the-rise-of-skywalker-2019-4k-iphone-wallpaper-ilikewallpaper_com.jpg)
    no-repeat -150px -400px;
}

.about .grid-main-section {
  grid-area: main-section;
  background: url(https://wallpaperplay.com/walls/full/e/c/2/84884.jpg)
    no-repeat 0 -50px;
  background-size: 100%;
}

.about .grid-main-section p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 40%;
  padding: 25px;
  margin: 25px;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  text-shadow: 0 0 15px #000;
}

.about .grid-main-section h1 {
  padding: 10px 0 0 10px;
}

.about .grid-article-1 {
  grid-area: article-1;
  background: url(https://coverfiles.alphacoders.com/397/39735.jpg) no-repeat -190px -50px;
}

.about .grid-article-2 {
  grid-area: article-2;
  background: rgb(0, 0, 0, 0.45);
}

.about .grid-article-2 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 25px;
  padding: 20px;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  text-shadow: 0 0 15px #000;
}

.grid-footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0, 0.3);
  border-top: 3px yellow solid;
  box-shadow: 0 0 5px 0 yellow;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}

/* CAST PAGE */
.cast.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'cast-1 cast-2 cast-3 cast-4 cast-5'
    'info-1 info-2 info-3 info-4 info-5'
    'footer footer footer footer footer';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 1fr 0.5fr;
  grid-gap: 25px;
  background: url(http://getwallpapers.com/wallpaper/full/9/c/7/326560.jpg)
    no-repeat;
}

.cast .info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  width: 90%;
  height: 75%;
  margin: 5%;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 18px; */
  text-shadow: 0 0 15px #000;
}

.cast .grid-cast-1 {
  grid-area: cast-1;
  background: url(https://www.cheatsheet.com/wp-content/uploads/2019/11/daisy-ridley-in-a-black-dress-1024x763.jpg)
    no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.cast .grid-cast-1 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: -1;
}
.cast .grid-cast-1:hover {
  background: rgb(0, 0, 0, 0);
  font-size: 16px;
}
.cast .grid-info-1 {
  grid-area: info-1;
  background: rgba(51, 51, 51, 0.35);
  border-radius: 15px 15px 15px 15px;
}

.cast .grid-cast-2 {
  grid-area: cast-2;
  background: url(https://www.nydailynews.com/resizer/biYRw5_PjQYm_F5AVDJHxF8wHc4=/800x584/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/J327RSZVZZCLBIPIZ77SXPQLQU.jpg)
    no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.cast .grid-cast-2 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: -1;
}
.cast .grid-cast-2:hover {
  background: rgb(0, 0, 0, 0);
  font-size: 16px;
}
.cast .grid-info-2 {
  grid-area: info-2;
  background: rgba(51, 51, 51, 0.35);
  border-radius: 15px 15px 15px 15px;
}

.cast .grid-cast-3 {
  grid-area: cast-3;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Star_Wars-_The_Last_Jedi_Japan_Premiere_Red_Carpet-_Adam_Driver_%2827163437599%29_%28cropped%29.jpg/800px-Star_Wars-_The_Last_Jedi_Japan_Premiere_Red_Carpet-_Adam_Driver_%2827163437599%29_%28cropped%29.jpg)
    no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.cast .grid-cast-3 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: -1;
}
.cast .grid-cast-3:hover {
  background: rgb(0, 0, 0, 0);
  font-size: 16px;
}
.cast .grid-info-3 {
  grid-area: info-3;
  background: rgba(51, 51, 51, 0.35);
  border-radius: 15px 15px 15px 15px;
}

.cast .grid-cast-4 {
  grid-area: cast-4;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Carrie_Fisher_2013-a_straightened.jpg/220px-Carrie_Fisher_2013-a_straightened.jpg)
    no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.cast .grid-cast-4 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: -1;
}
.cast .grid-cast-4:hover {
  background: rgb(0, 0, 0, 0);
  font-size: 16px;
}
.cast .grid-info-4 {
  grid-area: info-4;
  background: rgba(51, 51, 51, 0.35);
  border-radius: 15px 15px 15px 15px;
}

.cast .grid-cast-5 {
  grid-area: cast-5;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Mark_Hamill_%282017%29.jpg/480px-Mark_Hamill_%282017%29.jpg)
    no-repeat center center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.cast .grid-cast-5 p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: -1;
}
.cast .grid-cast-5:hover {
  background: rgb(0, 0, 0, 0);
  font-size: 16px;
}
.cast .grid-info-5 {
  grid-area: info-5;
  background: rgba(51, 51, 51, 0.35);
  border-radius: 15px 15px 15px 15px;
}

.cast .grid-footer {
  grid-area: footer;
  background: rgba(0, 0, 0, 0.7);
}

/* GALLERY PAGE */
.gallery.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header '
    'slideshow'
    'img-selector'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 2fr 0.5fr;
  background: url(http://getwallpapers.com/wallpaper/full/9/c/7/326560.jpg)
    no-repeat;
}

.gallery.grid header {
  background: rgba(0, 0, 0, 0.4);
}

.gallery .grid-slideshow {
  grid-area: slideshow;
  background: rgba(44, 44, 44, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .slideshow {
  width: 444px;
  height: 250px;
  box-shadow: 0 0 30px 5px #000;
  transition: transform 0.3s ease-in-out;
}

.gallery .slideshow:hover {
  transform: scale(1.25);
}

.animation {
  background: url(../images/slideshow_img.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  animation-name: slideshow;
  animation-duration: 21s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes slideshow {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 0 0;
  }
  20% {
    background-position: -444px 0;
  }
  30% {
    background-position: -444px 0;
  }
  40% {
    background-position: -888px 0;
  }
  50% {
    background-position: -888px 0;
  }
  60% {
    background-position: -1332px 0;
  }
  70% {
    background-position: -1332px 0;
  }
  80% {
    background-position: -1776px 0;
  }
  90% {
    background-position: -1776px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.gallery .grid-img-selector {
  grid-area: img-selector;
  background: rgba(56, 56, 56, 0.5);
  box-shadow: 0 0 10px 0 #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide {
  width: 15vw;
  /* height: 70%; */
  /* background: url(/images/slide1.jpg) no-repeat; */
  background-size: 100%;
  cursor: pointer;
  box-shadow: 0 0 15px 0 #000;
  transition: all 0.2s ease-in-out;
}

.slide:hover {
  box-shadow: 0 0 25px 0 #000;
  transform: scale(1.25);
}

.gallery.grid footer {
  background: rgba(0, 0, 0, 0.8);
}

/* BOOK TICKETS */
.tickets.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'cart cinema'
    'footer footer';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr 0.5fr;
  background: url(http://getwallpapers.com/wallpaper/full/9/c/7/326560.jpg)
    no-repeat;
}

.tickets.grid header {
  background: rgba(0, 0, 0, 0.4);
}

.tickets .grid-cart {
  grid-area: cart;
  background: rgba(56, 56, 56, 0.5);
  box-shadow: 0 0 15px 5px #000;
  display: grid;
  grid-template-areas:
    'item-cart'
    'checkout';
  grid-template-columns: 100%;
  grid-template-rows: 4fr 1fr;
}

.grid-cart .grid-item-cart {
  grid-area: item-cart;
}

.grid-item-cart .item-container {
  position: relative;
  width: 85%;
  height: 90%;
  margin: 5%;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
}

.item-container .items-list {
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 3%;
  padding-left: 5%;
}

.items-list .item {
  width: 95%;
  border-bottom: 2px yellow dotted;
  padding-bottom: 3px;
}

.item .remove {
  font-family: StarWars;
  font-size: 14px;
  color: red;
  float: right;
  padding-top: 2px;
  cursor: pointer;
  text-shadow: 0 0 5px #000;
}

.item .remove:hover {
  transform: scale(1.25);
}

.item .price {
  display: block;
}

.item-container .total-container {
  position: absolute;
  text-align: left;
  text-indent: 10%;
  font-size: 20px;
  bottom: 0px;
  width: 100%;
  border-top: 3px rgb(255, 255, 0, 0.9) solid;
}

.total {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
.total .price {
  float: right;
  margin-right: 10%;
}

.grid-cart .grid-checkout {
  grid-area: checkout;
  box-shadow: 0 0 5px 1px #000;
}

.grid-checkout .btn-checkout {
  width: 85%;
  height: 65%;
  margin: 5%;
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* PAID animation */
.checkout-animation {
  animation-name: checkout-animation;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes checkout-animation {
  0% {
    box-shadow: 0 0 15px 0 yellow;
  }
  50% {
    box-shadow: 0 0 15px 0 rgba(0, 86, 247);
  }
  100% {
    box-shadow: 0 0 15px 0 yellow;
  }
}

.grid-checkout .btn-checkout:hover {
  background-color: rgba(0, 86, 247, 0.3);
  box-shadow: 0 0 10px 0 yellow;
  transform: scale(1.025);
}

.grid-checkout p {
  font-size: 25px;
  padding: 7px 0;
  text-align: center;
}

.tickets .grid-cinema {
  grid-area: cinema;
  background: rgba(44, 44, 44, 0.5);
  display: grid;
  grid-template-areas: 'extras seats';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100%;
}

.grid-cinema .grid-extras {
  grid-area: extras;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grid-extras .popcorn {
  width: 75%;
  height: 45%;
  background: url(https://i.pinimg.com/474x/90/95/14/9095141d1029049c71c5cec8de36e211.jpg)
    no-repeat;
  background-size: cover;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  box-shadow: 0 0 15px 0 yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  transition: all 0.1s ease-out;
}

.popcorn p {
  width: 95%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 5px 0 yellow inset;
}

.grid-extras .popcorn:hover {
  transform: scale(1.05);
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
}

.grid-extras .coke {
  width: 75%;
  height: 45%;
  background: url(https://d2iiahg0ip5afn.cloudfront.net/media/star-wars-space-punch/images/511181115.starwars-12oz-spacepunch-rey-front.jpg)
    no-repeat;
  background-size: cover;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  box-shadow: 0 0 15px 0 yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  transition: all 0.1s ease-out;
}

.coke p {
  width: 95%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 5px 0 yellow inset;
}

.grid-extras .coke:hover {
  transform: scale(1.05);
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
}

.extras-animation {
  animation-name: extras-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes extras-animation {
  0% {
    box-shadow: 0 0 15px 0 yellow;
  }
  50% {
    box-shadow: 0 0 15px 0 rgba(0, 86, 247);
  }
  100% {
    box-shadow: 0 0 15px 0 yellow;
  }
}

.grid-cinema .grid-seats {
  grid-area: seats;
  display: grid;
  grid-template-areas:
    'screen screen screen screen screen'
    ' . a1 a2 a3 .'
    ' . b1 b2 b3 . '
    ' legend c1 c2 c3 ticket-price ';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.screen {
  width: 90%;
  height: 70%;
  margin: 3%;
  grid-area: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
}

.screen p {
  font-size: 35px;
}

.seat-a1 {
  grid-area: a1;
}
.seat-a2 {
  grid-area: a2;
}
.seat-a3 {
  grid-area: a3;
}

.seat-b1 {
  grid-area: b1;
}
.seat-b2 {
  grid-area: b2;
}
.seat-b3 {
  grid-area: b3;
}

.legend {
  grid-area: legend;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.legend .legend-available {
  width: 80%;
  height: 35%;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend .legend-taken {
  width: 80%;
  height: 35%;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  background-color: rgb(255, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-c1 {
  grid-area: c1;
}
.seat-c2 {
  grid-area: c2;
}
.seat-c3 {
  grid-area: c3;
}

.ticket-price {
  width: 85%;
  height: 85%;
  margin: 7%;
  grid-area: ticket-price;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
}

.seats {
  width: 85%;
  height: 85%;
  margin: 7%;
  box-shadow: 0 0 10px 0 rgba(0, 86, 247);
  background-color: rgba(0, 86, 247, 0.1);
  border-radius: 25px 25px 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
}

.hover.seats:hover {
  background-color: rgba(0, 86, 247, 0.2);
  box-shadow: 0 0 10px 0 yellow;
}

.seats p {
  font-size: 30px;
}

.taken-seat {
  background-color: rgb(255, 0, 0, 0.2);
  cursor: default;
}

.reserved-seat {
  background-color: rgb(255, 255, 0, 0.1);
  cursor: default;
}

.tickets.grid footer {
  background: rgba(0, 0, 0, 0.8);
}
